@model IEnumerable<EmployeeView>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeView</title>
</head>
<body>
    <table border="1" width="80%" style="margin-left:auto; margin-right:auto">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.Patronymic</td>
                <td>@item.Surname</td>
                <td>@item.Age</td>
                <td>@Html.ActionLink("Детали", "Details", new { id = item.Id })</td>
            </tr>
        }
    </table>
</body>
</html>
